{% extends "/home/index.html" %}

{% block content %}
    {% include '/home/menu.html' %}
    <form method="POST"  class="col-md-3 col-md-offset-1 navbar-brand" style="color: #1b6d85">
    <div style="color: red">{% for message in get_flashed_messages() %}
        {{ message }}
    {% endfor %}</div>
    <h2 class="col-md-offset-1">用户登录界面</h2>

    <div class="form-group has-feedback">
        {{ form.account.label }}{{ form.account }}
        </div>
    <div class="form-group has-feedback">
        {{ form.pwd.label }}{{ form.pwd }}
        </div>
    <div class="form-group has-feedback">
        {{ form.submit }}
        </div>
    </form>
{% endblock %}
