<div class="col-lg-3">
    <div class="list-group">
        <li class="list-group-item m-1"><a href="{{ url_for('home.user_center') }}"><span class="glyphicon glyphicon-user">会员中心</span></a></li>
        <li class="list-group-item m-2"><a href="{{ url_for('home.changepwd') }}"><span class="glyphicon glyphicon-lock">修改密码</span></a></li>
        <li class="list-group-item m-3"><a href="{{ url_for('home.comment') }}"><span class="glyphicon glyphicon-comment">评论记录</span></a></li>
        <li class="list-group-item m-4"><a href="{{ url_for('home.loginlog') }}"><span class="glyphicon glyphicon-calendar">登陆日志</span></a></li>
        <li class="list-group-item m-5"><a href="{{ url_for('home.collect') }}"><span class="glyphicon glyphicon-header">收藏中心</span></a></li>
    </div>
</div>