{% extends "/home/index.html" %}

{% block content %}
    {% include '/home/menu.html' %}
    <form method="POST"  class="col-md-3 col-md-offset-1 navbar-brand" style="color: #1b6d85">
{#    <div style="color: red">{% for message in get_flashed_messages() %}#}
{#        {{ message }}#}
{#    {% endfor %}</div>#}
    <h2 class="col-md-offset-1">用户注册界面</h2>

    <div class="form-group has-feedback">
        {{ form.user_name.label }}{{ form.user_name }}
        </div>
    <div class="form-group has-feedback">
        {{ form.user_pwd.label }}{{ form.user_pwd }}
        </div>
    <div class="form-group has-feedback">
        {{ form.user_emai.label }}{{ form.user_emai }}
        </div>
    <div class="form-group has-feedback">
        {{ form.user_phone.label }}{{ form.user_phone }}
        </div>
    <div class="form-group has-feedback">
        {{ form.user_face.label }}{{ form.user_face }}
        </div>
    <div class="form-group has-feedback">
        {{ form.submit }}
        </div>
    </form>
{% endblock %}
